.body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-weight: normal;
    color: #333;
}

.post-title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: normal;
}

.post-meta {
    margin-top: 0px;
    color: #999;
}

.post-meta:first-child {
    margin-top: 30px;
}

.post {
    background-color: #FCFCFC;
    border-radius: 20px;
    padding: 0px 20px 20px;
    box-shadow: 0 4px 15px 0 rgba(112,112,112,0.2);
}

.post:last-child {
    margin-bottom: 60px;
}

.tags {
    margin-left: auto;
    margin-right: auto;
}

.tags li {
    list-style: none;
    float: left;
    margin-right: 3px;  
}

.tags a {
    text-decoration: none;
    background-color: #e5e5e5;
    color: #555555;
    padding: 3px;
    border-radius: 10px;
}

.tags a:hover {
    background-color: #c1c1c1;
    color: #424242;
}

.button-read {
    color: black;
    padding: 5px 15px;
    text-decoration: none !important;
    margin: 10px;
    font-weight: bold;
    transition: 0.3s;
    border-left: 6px solid #20598A;
    border-radius: 20px 0 0 20px;
    font-style: oblique;
}

.button-read:hover {
    background: linear-gradient(#2669a2, #1c4e79);
    color: white;
    border-left: none;
    border-radius: 0 20px 20px 0;
}

.sidebar {
    margin-top: 30px;
    width: 210%;
    box-shadow: 0 4px 15px 0 rgba(112,112,112,0.2);
}

.sidebar .header {
    width: 100%;    
    height: 25px;
    font-family: Verdana, Arial, sans-serif;
    background: linear-gradient(#2669a2, #1c4e79);
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 15px 15px 0 0;
}

.sidebar .main {
    background-color: #FCFCFC;
    border: 1px solid #4E666A;
    height: 250px;
}

.sidebar .main form
{
    padding-top: 5px;
    padding-left: 5px;
    color: #7082a7;
}

.sidebar .main input[type=text] {
    width: 100%;
    padding: 3px 3px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sidebar .main input[type=date] {
    width: 48%;
    display: inline-block;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-filter {
    height: 35px;
    color: #fff;
    box-shadow: 0 4px 15px 0 rgba(112,112,112,0.2);
    border: none;
    background: linear-gradient(#2669a2, #1c4e79);
    border-color: #1e5481;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
    border-radius: 8px;
}

.button-filter:hover {
    color: #fff;
    box-shadow: 0 4px 15px 0 rgba(112,112,112,0.2);
    background: linear-gradient(#215c8d, #174164);
}