div {
    display: block;
}

.container {
    min-height: 70vh;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-window     {
    background-color: #FCFCFC;
    border-radius: 20px;
    box-shadow: 0 4px 15px 0 rgba(112, 112, 112, 0.2);
    width: 100%;
    margin: auto;
    color: #384764;
}



.create-header p {
    text-align: center;
    font-weight: bold;
    font-size: large;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

.description {
    margin-top: 5px;
    color: #999;
    font-size: 11px;
    line-height: 15px;
}

.title {
    font-weight: bold;
}

.main input[type=text] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.main select {
    margin: 8px, 0px;
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.group {
    margin-top: 20px;
}

.main textarea {
    width: 100%;
    min-height: 250px;
    max-height: 656px;
    resize: vertical;
    background: #f1f3fb;
    border: 1px solid #d3e1f6;
}

.create-header {
    width: 100%;
    height: 40px;
    font-family: Verdana, Arial, sans-serif;
    background: linear-gradient(#2669a2, #1c4e79);
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 15px 15px 0 0;
}

.toolbar {
    width: 100%;
    height: 35px;
    margin: auto;
    border: 1px solid #d3e1f6;
    border-top: 2px solid #2669a2;
    border-radius: 10px 10px 0 0;
    background: #f1f3fb;
}

.format-button {
    color: #7082a7;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0px 1px;
    float: left;
    padding: 0;
    width: 32px;
    height: 32px;
    border-right: 1px solid #d3e1f6;
}

.format-button:hover {
    color: #384764;
    background: rgba(56,71,100,0.06);
}

.create-form {
    padding: 0px 20px 20px;
}

.input {
    font-size: 23px;
    padding-left: 5px;
    color: #384764;
    background: #f1f3fb;
    border-width: 1px;
    border-style: solid;
    border-top-color: #d3e1f6;
    border-right-color: #d3e1f6;
    border-bottom-color: #d3e1f6;
    border-left-color: #d3e1f6;
    border-radius: 8px;
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
    width: 100%;
    height: 50px;
}

.submit-create-post {
    height: 35px;
    color: #fff;
    background: #2669A2;
    box-shadow: 0 4px 15px 0 rgba(112,112,112,0.2);
    border: none;
    background: linear-gradient(#2669a2, #1c4e79);
    border-color: #1e5481;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 10px;
    border-radius: 8px;
    margin: auto;
}

.submit-create-post:hover {
    color: #fff;
    box-shadow: 0 4px 15px 0 rgba(112,112,112,0.2);
    background: linear-gradient(#215c8d, #174164);
}