* {
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

div {
    display: block;
}

.sidebar-left {
    float: left;
    width: 150px;
}

.sidebar-right {
    float: right;
    width: 150px;
}

.main {
    height: 1000px;
    width: 920px;
    margin-left: 170px;
    margin-right: 170px;
}