@model CodeByteForum.Models.Post;
@{
    ViewData["Title"] = Model.Title;
}
<div>
    <h6>Дата создания: @Model.PublishDate</h6>
    <dl class="dl-horizontal" style="border: 2px solid black; padding: 10px">
        <dt align="center"><h2>@Model.Title</h2></dt>
        <dd>@Model.Text</dd>
    </dl>
</div>